# Ignore configuration files that may contain sensitive information.
public/sites/*/settings*.php
public/sites/*/default.settings.php

# Ignore paths that contain user-generated content.
public/*
sites/*
vendor/*
pre_installation_whywebs/*
jenkins/*
nginx/*
cache/*
composer.lock
.DS_Store
ddkits.env.yml
ddkitsnew.yml
ddkits-files/*/sites/*.conf
ddkits_alias
*.html
deploy
# *-deploy
ddkits.phar
ddkits-files/drupal/ddkitscli.sh
ddkits-files/ddkits/sites/ddkitscust.conf
ddkits-files/ddkitsInfo.dev.sh
ddkits-files/ddkitsInfo.ports.sh
# ddkits-files/ddkitsInfo.prod.sh
ddkits-files/drupal/Dockerfile
